.container {
  padding: 20px;
}

.filter {
  margin-bottom: 20px;
}

.item {
  border: 1px solid rgb(220, 220, 220);
  display: flex;
  border-radius:0px 20px 20px 0px;
}

.product-image {
width: 8rem;
border-radius:10px 10px 0px 10px;
/* height: 5rem; */
/* border: 1px solid black; */

}
.prodImg{
  width: 100%;
  height: 10rem;
  display: block;
  border-radius: 30px !important;
}


.product-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  justify-content: center;
  flex: 1;
  padding: 10px;
}

.product-details h2 {
  margin-top: 0;
}

.product-actions {
  display: flex;
  align-items: center;
  padding: 10px;
}

.product-actions button {
  margin-left: 10px;
}

.basket {
  margin-top: 10px;
  border: 1px solid coral;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.basket-controls{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}